:root {
  --letter-size: clamp(18px, 5vw, 32px);
}

.lettersAnimation {
  display: flex;
  width: 100%;
  overflow: visible;
}

.lettersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  column-gap: 4.5px;
  padding: 0 15px;
  padding-top: 0;
}

.letter {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: var(--letter-size);
  line-height: 130%;
  text-align: center;
  opacity: 0.9;
  display: inline-block;
  color: white;
  user-select: none;
  white-space: pre-wrap;
  position: relative;
  will-change: transform, opacity, scale;
}

.word {
  display: flex;
  flex-wrap: nowrap;
}

@media (width >= 590px) {
  .lettersContainer {
    padding: 0;
  }
}

@media (width >= 1512px) {
  .lettersContainer {
    padding: 0 30px;
  }
}
