.lettersAnimation {
  display: flex;
  width: 100%;
  overflow: visible;
}

.lettersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  column-gap: 4.5px;
  padding: 0 20px;
  padding-top: 0;
}

.letter {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  opacity: 0.9;
  display: inline-block;
  color: white;
  user-select: none;
  white-space: pre-wrap;
  position: relative;
  will-change: transform, opacity, scale;
}

.word {
  display: flex;
  flex-wrap: nowrap;
}

@media (width >= 402px) {
  .letter {
    font-size: 20px;
  }
}

@media (width >= 1512px) {
  .letter {
    font-size: 28px;
  }

  .lettersAnimation {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .lettersContainer {
    padding: 0 30px;
  }
}

@media (width >= 1728px) {
  .letter {
    font-size: 32px;
  }
}
