:root {
  --graphics-size: clamp(9.55px, 2.65vw, 19px);
  --h4-size: clamp(11px, 3.65vw, 22px);
  --line-border-radius: clamp(9.55px, 2.65vw, 19px) 0 0 clamp(9.55px, 2.65vw, 19px);
}

.header {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.circles {
  display: flex;
  gap: clamp(5px, 1vw, 8px);
  min-width: 95px;
  flex-shrink: 0;
}

.circles div {
  width: var(--graphics-size);
  height: var(--graphics-size);
  border-radius: 50%;
}

.circles div:nth-child(1) {
  background-color: var(--dark-circles-first-color);
}

.circles div:nth-child(2) {
  background-color: var(--dark-circles-second-color);
}

.circles div:nth-child(3) {
  background-color: var(--dark-circles-third-color);
}

.circles div:nth-child(4) {
  background-color: var(--dark-circles-fourth-color);
}

.circles div:nth-child(5) {
  background-color: var(--dark-circles-fifth-color);
}

.headerTitle {
  text-align: center;
  flex: 1;
}

.headerTitle h4 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: var(--h4-size);
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.7;
  white-space: nowrap;
}

.line {
  height: var(--graphics-size);
  border-radius: var(--line-border-radius);
  background-color: var(--dark-top-line-color);
  flex: 100%;
  min-width: 95px;
  max-width: 20%;
}

@media (width <= 608px) {
  .circles {
    padding-left: 15px;
  }
}

@media (width <= 390px) {
  .header {
    gap: 4px;
  }

  .line {
    min-width: 65px;
  }
}
