:root {
  --title-size: clamp(35px, 11vw, 69px);
  --button-text-size: clamp(16px, 4vw, 24px);
  --buttons-padding: clamp(12px, 4vw, 27px);
  --quiz-padding: clamp(14px, 4vw, 47px) clamp(14px, 4vw, 48px) clamp(14px, 9vw, 86px);
  --quiz-margin-top: clamp(23px, 4vw, 45px);
}

.quizPageWrapper {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--light-background-color);
  justify-content: center;
  overflow-x: hidden;
}

.quizPage {
  display: flex;
  flex-direction: column;
  width: 590px;
  padding: 10px;
  padding-top: 0;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 5px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.heading h1 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: normal;
  line-height: 85%;
  font-size: var(--title-size);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.quiz {
  background: #262639;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: var(--quiz-padding);
  margin-top: var(--quiz-margin-top);
}

.counter,
.result {
  margin-bottom: 10px;
}

.counter span,
.question p,
.result span {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.02em;
  font-size: var(--button-text-size);
  color: #fff;
  opacity: 0.9;
  text-align: center;
}

.counter {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 25px;
}

.question {
  margin-bottom: 35px;
}

.answerButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.answerButtons button,
.navigation button {
  border-radius: 30px;
  border: 0;
  padding: var(--buttons-padding);
  transition: background-color 0.3s ease;
  background-color: #fff;
}

.answerButtons button span,
.navigation button span {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: var(--button-text-size);
  line-height: 19px;
  letter-spacing: 0.1em;
  color: var(--light-text-color);
}

.navigation {
  display: flex;
  margin-top: 20px;
}

.navigation button {
  flex: 1;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.navigation__result button {
  gap: 5px;
}

.navigation button.disabled {
  opacity: 0.5;
}

.navigation button span {
  letter-spacing: 0.2em;
}

.answerButtons button.wrongAnswer {
  background-color: var(--light-quiz-incorrect-answer-color);
  cursor: default;
}

.answerButtons button.correctAnswer {
  background-color: var(--light-quiz-correct-answer-color);
  cursor: default;
}

.answerButtons button.unselectedAnswer {
  background-color: var(--light-quiz-unselected-answer-color);
  cursor: default;
}
