.quizPageWrapper {
  min-height: 100vh;
  display: flex;
  background-color: var(--light-background-color);
  justify-content: center;
}

.quizPage {
  display: flex;
  flex-direction: column;
  width: 640px;
  padding: 10px;
  padding-top: 0;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 5px;
}

.heading h1 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: normal;
  line-height: 85%;
  font-size: 35px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.quiz {
  background: #262639;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 60px auto 0;
  width: 100%;
  justify-content: center;
  padding: 14px 14px 34px;
  margin-top: 23px;
}

.counter,
.result {
  margin-bottom: 10px;
}

.counter span,
.question p,
.result span {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #fff;
  opacity: 0.9;
  text-align: center;
}

.counter {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 25px;
}

.question {
  margin-bottom: 35px;
}

.answerButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.answerButtons button,
.navigation button {
  border-radius: 30px;
  border: 0;
  padding: 14px;
  transition: background-color 0.3s ease;
}

.answerButtons button span,
.navigation button span {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: var(--light-text-color);
}

.navigation {
  display: flex;
  margin-top: 20px;
}

.navigation button {
  flex: 1;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.navigation__result button {
  gap: 5px;
}

.navigation button.disabled {
  opacity: 0.5;
}

.navigation button span {
  letter-spacing: 0.2em;
}

.answerButtons button.wrongAnswer {
  background-color: var(--light-quiz-incorrect-answer-color);
  cursor: default;
}

.answerButtons button.correctAnswer {
  background-color: var(--light-quiz-correct-answer-color);
  cursor: default;
}

.answerButtons button.unselectedAnswer {
  background-color: var(--light-quiz-unselected-answer-color);
  cursor: default;
}

@media (width >= 402px) {
  .heading h1 {
    font-size: 44px;
  }

  .counter span,
  .question p,
  .result span,
  .answerButtons button span,
  .navigation button span {
    font-size: 20px;
  }

  .quiz {
    padding: 30px 31px 55px;
    margin-top: 29px;
  }

  .answerButtons button,
  .navigation button {
    padding: 17.5px;
  }
}

@media (width <= 395px) {
  .heading h1 {
    font-size: 34px;
  }
}

@media (width >= 1512px) {
  .heading h1 {
    font-size: 61px;
  }

  .counter span,
  .question p,
  .result span,
  .answerButtons button span,
  .navigation button span {
    font-size: 28px;
  }

  .quiz {
    padding: 42px 43px 76px;
    margin-top: 39px;
  }

  .answerButtons button,
  .navigation button {
    padding: 24px;
  }
}

@media (width >= 1728px) {
  .heading h1 {
    font-size: 70px;
  }

  .counter span,
  .question p,
  .result span,
  .answerButtons button span,
  .navigation button span {
    font-size: 32px;
  }

  .quiz {
    padding: 47px 48px 86px;
    margin-top: 45px;
  }

  .answerButtons button,
  .navigation button {
    padding: 27px;
  }
}
