.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #26282e;
  min-height: 100vh;
}

.imageMain {
  max-height: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.imageMain img {
  max-height: 194px;
  mix-blend-mode: luminosity;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading h1 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 85%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-text-color);
}

.heading h2 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--dark-text-color);
  opacity: 0.6;
  letter-spacing: 0.34em;
}

.heading button {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 23px;
  background: 0;
  border: 0;
  color: var(--dark-text-color);
  opacity: 0.6;
}

.heading button svg {
  transform: rotate(180deg);
}

.text {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: justify;
  color: #ebebeb;
  max-width: 300px;
}

@media (width <= 400px) {
  .heading h1 {
    font-size: 34px;
  }

  .heading h2 {
    font-size: 10px;
  }
}
