:root {
  --text-size: clamp(10px, 4.6vw, 20px);
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c4cdee;
  min-height: 100vh;
}

.imageMain {
  max-height: var(--image-size);
  margin-top: 40px;
  margin-bottom: 40px;
  flex: 1;
  display: flex;
}

.imageMain img {
  object-fit: contain;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 560px;
}

.heading h1 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: var(--title-size);
  line-height: 85%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #262639;
  white-space: nowrap;
}

.heading h2 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: var(--subtitle-size);
  line-height: calc(var(--subtitle-size) + 2);
  text-align: center;
  color: #262639;
  letter-spacing: 0.34em;
  white-space: nowrap;
}

.heading button {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: var(--link-size);
  line-height: 16px;
  text-decoration-line: underline;
  color: #262639;
  text-underline-offset: 3px;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 23px;
  background: 0;
  border: 0;
}

.heading button svg {
  transform: rotate(180deg);
}

.text p {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: var(--text-size);
  line-height: 130%;
  text-align: justify;
  color: var(--light-text-color);
  max-width: 560px;
}

@media (width <= 400px) {
  .heading button {
    margin-top: 14px;
  }

  .content {
    padding: 10px;
  }
}
