:root {
  --font-tt-travels-next: 'TT Travels Next Trl', sans-serif;
  --font-play: 'Play', sans-serif;
  --font-actay-wide: 'Actay Wide', sans-serif;
}

@font-face {
  font-family: Play;
  src:
    url('Play-Bold.woff2') format('woff2'),
    url('Play-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Play;
  src:
    url('Play.woff2') format('woff2'),
    url('Play.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Play;
  src:
    url('Play.woff2') format('woff2'),
    url('Play.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Play;
  src:
    url('Play-Bold.woff2') format('woff2'),
    url('Play-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Play;
  src:
    url('Play.woff2') format('woff2'),
    url('Play.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Actay Wide';
  src:
    url('ActayWide-BoldItalic.woff2') format('woff2'),
    url('ActayWide-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: Play;
  src:
    url('Play-Bold.woff2') format('woff2'),
    url('Play-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Actay Wide';
  src:
    url('ActayWide-Bold.woff2') format('woff2'),
    url('ActayWide-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Actay Wide';
  src:
    url('ActayWide-Bold.woff2') format('woff2'),
    url('ActayWide-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl Blc';
  src:
    url('TTTravelsNextTrl-BlcIt.woff2') format('woff2'),
    url('TTTravelsNextTrl-BlcIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Actay Wide';
  src:
    url('ActayWide-BoldItalic.woff2') format('woff2'),
    url('ActayWide-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl';
  src:
    url('TTTravelsNextTrl-Bd.woff2') format('woff2'),
    url('TTTravelsNextTrl-Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl Md';
  src:
    url('TTTravelsNextTrl-Md.woff2') format('woff2'),
    url('TTTravelsNextTrl-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl Lt';
  src:
    url('TTTravelsNextTrl-Lt.woff2') format('woff2'),
    url('TTTravelsNextTrl-Lt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl Blc';
  src:
    url('TTTravelsNextTrl-Blc.woff2') format('woff2'),
    url('TTTravelsNextTrl-Blc.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl Db';
  src:
    url('TTTravelsNextTrl-DmBd.woff2') format('woff2'),
    url('TTTravelsNextTrl-DmBd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl Th';
  src:
    url('TTTravelsNextTrl-Th.woff2') format('woff2'),
    url('TTTravelsNextTrl-Th.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl Lt';
  src:
    url('TTTravelsNextTrl-LtIt.woff2') format('woff2'),
    url('TTTravelsNextTrl-LtIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl';
  src:
    url('TTTravelsNextTrl-Rg.woff2') format('woff2'),
    url('TTTravelsNextTrl-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl Blc Outline';
  src:
    url('TTTravelsNextTrl-BlcOutline.woff2') format('woff2'),
    url('TTTravelsNextTrl-BlcOutline.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl XLt';
  src:
    url('TTTravelsNextTrl-XLtIt.woff2') format('woff2'),
    url('TTTravelsNextTrl-XLtIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl Db';
  src:
    url('TTTravelsNextTrl-DmBdIt.woff2') format('woff2'),
    url('TTTravelsNextTrl-DmBdIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl';
  src:
    url('TTTravelsNextTrl-BdIt.woff2') format('woff2'),
    url('TTTravelsNextTrl-BdIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl XLt';
  src:
    url('TTTravelsNextTrl-XLt.woff2') format('woff2'),
    url('TTTravelsNextTrl-XLt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl Blc Outline';
  src:
    url('TTTravelsNextTrl-BlcOutlineIt.woff2') format('woff2'),
    url('TTTravelsNextTrl-BlcOutlineIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl Md';
  src:
    url('TTTravelsNextTrl-MdIt.woff2') format('woff2'),
    url('TTTravelsNextTrl-MdIt.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl XBd';
  src:
    url('TTTravelsNextTrl-XBd.woff2') format('woff2'),
    url('TTTravelsNextTrl-XBd.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl';
  src:
    url('TTTravelsNextTrl-It.woff2') format('woff2'),
    url('TTTravelsNextTrl-It.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl XBd';
  src:
    url('TTTravelsNextTrl-XBdIt.woff2') format('woff2'),
    url('TTTravelsNextTrl-XBdIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'TT Travels Next Trl Th';
  src:
    url('TTTravelsNextTrl-ThIt.woff2') format('woff2'),
    url('TTTravelsNextTrl-ThIt.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: block;
}
