.result {
  margin-bottom: 10px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  min-height: 480px;
}

.result span {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.02em;
  color: #fff;
  opacity: 0.9;
  text-align: center;
}

.resultCounter {
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.resultCounter span {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  font-variant-numeric: tabular-nums;
}

.resultCounterCorrect span {
  color: var(--light-quiz-correct-answer-color);
}

.resultCounterWrong span {
  color: var(--light-quiz-incorrect-answer-color);
}

@media (width >= 402px) {
  .result > span {
    font-size: 20px;
  }
}

@media (width >= 1512px) {
  .result > span {
    font-size: 28px;
  }

  .resultCounter span {
    font-size: 120px;
  }
}

@media (width >= 1728px) {
  .result > span {
    font-size: 32px;
  }
}
