.moonAwaitingWrapper {
  background-color: var(--dark-background-color);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.moonAwaiting {
  display: flex;
  flex-direction: column;
  width: 590px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
}

.heading h1 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 85%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}

.tipButton {
  display: flex;
  width: 100%;
  margin: 40px auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 1;
  justify-content: center;
  flex: 1;
}

.tipButton button {
  padding: 15px;
  width: 100%;
  margin: auto auto 0;
  background: #fff;
  border-radius: 30px;
  border: 0;
}

.tipButton button span {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.moonAnimation {
  width: 100%;
  height: 100%;
  max-width: 340px;
  max-height: 360px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  overflow: hidden;
}

.moonAnimation video {
  height: 360px;
  object-fit: cover;
}

@media (width <= 380px) {
  .moonAnimation video {
    height: 290px;
    object-fit: cover;
  }
}

@media (width >= 402px) {
  .tipButton button span {
    font-size: 18px;
  }

  .heading h1 {
    font-size: 44px;
  }
}

@media (width >= 1512px) {
  .heading h1 {
    font-size: 57px;
  }

  .tipButton button span {
    font-size: 24px;
  }

  .tipButton button {
    padding: 20px;
  }
}

@media (width >= 1728px) {
  .heading h1 {
    font-size: 69px;
  }

  .tipButton button span {
    font-size: 28px;
  }
}
