:root {
  --title-size: clamp(35px, 11vw, 69px);
  --video-size: clamp(240px, 75vw, 380px);
  --button-text-size: clamp(16px, 4vw, 24px);
}

.moonAwaitingWrapper {
  background-color: var(--dark-background-color);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.moonAwaiting {
  display: flex;
  flex-direction: column;
  width: 590px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
}

.heading h1 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: var(--title-size);
  line-height: 85%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}

.tipButton {
  display: flex;
  width: 100%;
  margin: 40px auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 1;
  justify-content: center;
  flex: 1;
}

.tipButton button {
  padding: 15px;
  width: 100%;
  margin: auto auto 0;
  background: #fff;
  border-radius: 30px;
  border: 0;
}

@media (width > 608px) {
  .tipButton {
    padding: 0;
  }
}

.tipButton button span {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: var(--button-text-size);
  line-height: 19px;
  color: #000;
}

.moonAnimation {
  width: 100%;
  height: 100%;
  max-width: var(--video-size);
  max-height: var(--video-size);
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  overflow: hidden;
}

.moonAnimation video {
  height: var(--video-size);
  object-fit: cover;
}

@media (width <= 380px) {
  .moonAnimation video {
    object-fit: cover;
  }
}

@media (width >= 1512px) {
  .tipButton button {
    padding: 20px;
  }
}
