:root {
  --title-size: clamp(30px, 11vw, 69px);
  --subtitle-size: clamp(10px, 3.47vw, 21px);
  --link-size: clamp(14px, 3.45vw, 24px);
  --image-size: clamp(210px, 70vw, 380px);
  --logo-size: clamp(20px, 8vw, 70px);
  --buttons-text-size: clamp(10px, 4.6vw, 24px);
  --buttons-icons-size: clamp(10px, 4.6vw, 24px);
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c4cdee;
  min-height: 100vh;
}

.imageMain {
  max-height: var(--image-size);
  margin-top: 40px;
  margin-bottom: 40px;
  flex: 1;
  display: flex;
}

.imageMain img {
  object-fit: contain;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 560px;
}

.heading h1 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: var(--title-size);
  line-height: 85%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #262639;
  white-space: nowrap;
}

.heading h2 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: var(--subtitle-size);
  line-height: calc(var(--subtitle-size) + 2);
  text-align: center;
  color: #262639;
  letter-spacing: 0.34em;
  white-space: nowrap;
}

.heading button {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: var(--link-size);
  line-height: 16px;
  text-decoration-line: underline;
  color: #262639;
  text-underline-offset: 3px;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 23px;
  background: 0;
  border: 0;
  margin-left: 3px;
}

.buttons img {
  width: var(--buttons-icons-size);
  height: var(--buttons-icons-size);
}

.logos {
  display: flex;
  gap: clamp(3px, 2vw, 10px);
}

.logos div {
  margin-bottom: 40px;
}

.logos div img {
  width: var(--logo-size);
  height: var(--logo-size);
  border-radius: 50%;
}

.buttons {
  display: flex;
  gap: 10px;
  max-width: 560px;
  width: 100%;
}

.buttonLeft,
.buttonRight {
  padding: 15px;
  background: #fff;
  border-radius: 30px;
  border: 0;
  gap: 5px;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.buttonLeft span,
.buttonRight span {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: var(--buttons-text-size);
  line-height: 19px;
  color: var(--light-text-color);
}

.buttonRight:disabled {
  opacity: 0.5;
}

@media (width <= 400px) {
  .buttonLeft,
  .buttonRight {
    padding: 10px;
  }

  .heading button {
    margin-top: 14px;
  }

  .logos div {
    margin-bottom: 20px;
  }

  .content {
    padding: 10px;
  }
}
