.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c4cdee;
  min-height: 100vh;
}

.imageMain {
  max-height: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.imageMain img {
  max-height: 400px;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading h1 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 85%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #262639;
}

.heading h2 {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #262639;
  letter-spacing: 0.34em;
}

.heading button {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #262639;
  text-underline-offset: 3px;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 23px;
  background: 0;
  border: 0;
}

.logos {
  display: flex;
  gap: 3px;
}

.logos div {
  margin-bottom: 40px;
}

.logos div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  gap: 10px;
  max-width: 450px;
  width: 100%;
}

.buttonLeft,
.buttonRight {
  padding: 15px;
  background: #fff;
  border-radius: 30px;
  border: 0;
  gap: 5px;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.buttonLeft span,
.buttonRight span {
  font-family: var(--font-play);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--light-left-button-text-color);
}

.buttonRight:disabled {
  opacity: 0.5;
}

@media (width <= 360px) {
  .buttons {
    flex-direction: column;
  }

  .buttonLeft,
  .buttonRight {
    padding: 10px;
  }
}

@media (width <= 400px) {
  .heading h1 {
    font-size: 34px;
  }

  .heading h2 {
    font-size: 10px;
  }
}
