:root {
  --dark-background-color: #26282e;
  --dark-text-color: #fff;
  --dark-circles-first-color: #c99860;
  --dark-circles-second-color: #42898d;
  --dark-circles-third-color: #75b8ad;
  --dark-circles-fourth-color: #b2d3f0;
  --dark-circles-fifth-color: #cee3b9;
  --dark-top-line-color: #cee3b9;
}
