:root {
  --light-background-color: #c4cdee;
  --light-text-color: #262639;
  --light-circles-first-color: #c99860;
  --light-circles-second-color: #42898d;
  --light-circles-third-color: #75b8ad;
  --light-circles-fourth-color: #b2d3f0;
  --light-circles-fifth-color: #cee3b9;
  --light-top-line-color: #cee3b9;
  --light-quiz-correct-answer-color: #6ccb71;
  --light-quiz-incorrect-answer-color: #f75e63;
  --light-quiz-unselected-answer-color: rgb(255 255 255 / 50%);
}
